<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.millinch.mall.goods.mapper.CategoryAttributeTemplateMapper">

	<resultMap id="BaseResultMap" type="com.millinch.mall.goods.entity.CategoryAttributeTemplate">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="category_id" property="categoryId" />
		<result column="attribute_type" property="attributeType" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, name, category_id AS categoryId, attribute_type AS attributeType
    </sql>

	<select id="selectByCategoryIds" parameterType="long" resultType="CategoryAttributeTemplate">
		SELECT
			<include refid="Base_Column_List"/>
		FROM milli_category_attribute_template as mcat
		WHERE mcat.category_id IN
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>
