<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.millinch.mall.goods.mapper.GoodsMapper">
	<!--开启二级缓存-->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

	<resultMap id="BaseResultMap" type="com.millinch.mall.goods.entity.Goods">
		<id column="id" property="id" />
		<result column="product_id" property="id" />
		<result column="name" property="name" />
		<result column="quantity" property="quantity" />
		<result column="store_id" property="id" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, product_id AS id, name, quantity, store_id AS id
    </sql>

</mapper>
