<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.millinch.mall.goods.mapper.ProductAttributeValueMapper">
	<!--开启二级缓存-->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

	<resultMap id="BaseResultMap" type="com.millinch.mall.goods.entity.ProductAttributeValue">
		<id column="id" property="id" />
		<result column="product_id" property="productId" />
		<result column="attribute_id" property="attributeId" />
		<result column="value" property="value" />
		<result column="value_image" property="valueImage" />
		<result column="initial" property="initial" />
		<result column="ordinal" property="ordinal" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, product_id AS productId, attribute_id AS attributeId, value, value_image AS valueImage, initial, ordinal
    </sql>
</mapper>
