<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.millinch.mall.goods.mapper.SkuMapper">

	<resultMap id="BaseResultMap" type="com.millinch.mall.goods.entity.Sku">
		<id column="id" property="id" />
		<result column="store_id" property="storeId" />
		<result column="goods_id" property="goodsId" />
		<result column="name" property="name" />
		<result column="attribute_codes" property="attributeCodes" />
		<result column="sku" property="sku" />
		<result column="price" property="price" />
		<result column="stock" property="stock" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, store_id AS storeId, goods_id AS goodsId, name, attribute_codes AS attributeCodes, sku, price, stock
    </sql>
</mapper>
